<div class="row">
  <div><%= @product.name %></div>
</div>

<ul class="collection">
  <% @reviews.each do |review| %>
    <li class="collection-item avatar">
      <p>
        <span class="rating"><%= review.rating %></span>
        <span class="username"><%= review.author %></span><br>
        <span class="review"><%= review.content_body %></span>
      </p>
    </li>
  <% end %>
</ul>
<p><%= link_to "Add Review", new_product_review_path(@product) %></p>


<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
</div>
