<div class="row">
  <div class="product-title"><%= @product.name %></div>
</div>
<div class="logo"><b>RE<span>V</span><span>IE</span>WS</b></div>
<ol class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
      <p>
        <span class="username"><%= review.author %></span><br>
        <span class="rating"><%= review.rating %>/5</span>
        <span class="review"><%= review.content_body %></span>
      </p>
    </li>
  <% end %>
</ol>
<p><%= link_to "Add Review", new_product_review_path(@product) %></p>


<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
</div>
