<!DOCTYPE html>
<html>
  <head>
    <title>Mario</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <li><%= link_to "All Products", products_path, class: "nav-item nav-link" %></li>
          <li><%= link_to "New Product", new_product_path, class: "nav-item nav-link" %></li>
        </div>
      </div>
    </nav>
    <div class="container main-content">
      <div class="alerts">

        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
